@font-face {
    font-family: 'Krabby Patty';
    src: url('../fonts/krabbypatty/krabbypatty.eot');
    src: url('../fonts/krabbypatty/krabbypatty.eot?#iefix') format('embedded-opentype'),
        url('../fonts/krabbypatty/krabbypatty.woff2') format('woff2'),
        url('../fonts/krabbypatty/krabbypatty.woff') format('woff'),
        url('../fonts/krabbypatty/krabbypatty.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}