//Font Family
$font-basic: 'Krabby Patty', sans-serif;

//Font Weight 
$normal: 400;
$bold: 600;

// Color

$white: #FFF;

$primary-400: #00BCD4;
$primary-500: #04BDCD;
$primary-600: #1C61AC;

$dark-200: #8E8E93;
$dark-300: #8E8E93;
$dark-400: #636366;
$dark-500: #48484A;
$dark-600: #3A3A3C;
$dark-700: #2C2C2E;
$dark-800: #1C1C1E;


$danger-200: #B21F2D;
$danger-300: #DC3545;

$warning-300: #FEFF37;



// Transition
$main-transition: .3s ease;